<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/" module="Accueil" action="index" />
  <route url="/connexion" module="Connexion" action="index" />
  <route url="/deconnexion" module="Deconnexion" action="index" />
  <route url="/inscription" module="Inscription" action="index" />
  <route url="/inscription-admin" module="Inscription" action="administration" />
  <route url="/annuaire-responsables([1-5]?)" module="Annuaire" action="responsables" vars="sort"/>
  <route url="/annuaire-intervenants([1-6]?)" module="Annuaire" action="intervenants" vars="sort"/>
  <route url="/ajouter-intervenant" module="Annuaire" action="ajouterIntervenant"/>
  <route url="/supprimer-intervenant" module="Annuaire" action="supprimerIntervenant"/>
  <route url="/ajouter-competence" module="Annuaire" action="ajouterCompetence"/>
  <route url="/supprimer-competence" module="Annuaire" action="supprimerCompetence"/>
  <route url="/quiz" module="Quiz" action="index"/>
  <route url="/jouer-quiz([0-9]*)~([0-9]*)~([0-9]*)" module="Quiz" action="jouerQuiz" vars="idQuiz,nbBonnesReponses,numQuestion"/>
  <route url="/bilan-quiz([0-9]*)~([0-9]*)~([0-9]*)" module="Quiz" action="bilanQuiz" vars="idQuiz,nbBonnesReponses,numQuestion"/>
  <route url="/quiz-update" module="Quiz" action="indexModification"/>
  <route url="/ajouter-quiz" module="Quiz" action="ajouterQuiz"/>
  <route url="/modifier-quiz([0-9]*)" module="Quiz" action="modifierQuiz" vars="idQuiz"/>
  <route url="/supprimer-quiz([0-9]*)" module="Quiz" action="supprimerQuiz" vars="idQuiz"/>
  <route url="/ajouter-question([0-9]*)" module="Quiz" action="ajouterQuestion" vars="idQuiz"/>
  <route url="/modifier-question([0-9]*)" module="Quiz" action="modifierQuestion" vars="idQuestion"/>
  <route url="/supprimer-question([0-9]*)" module="Quiz" action="supprimerQuestion" vars="idQuestion"/>
  <route url="/ajouter-reponse([0-9]*)" module="Quiz" action="ajouterReponse" vars="idQuestion"/>
  <route url="/modifier-reponse([0-9]*)" module="Quiz" action="modifierReponse" vars="idReponse"/>
</routes>
